# File: docs/requirements.txt

# Required packages for Read the Docs build
numpydoc
numpy
scipy
sphinx
sphinx_rtd_theme
sphinx-argparse
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-images
sphinxcontrib-jsmath
sphinxcontrib-napoleon
sphinxcontrib-qthelp
Jinja2<3.1

